main {
    /*background: linear-gradient(#edf0f1, #48aec0, #050e4f);*/
    background: linear-gradient(#edf0f1, #42c9e3, #2c85ec, #1f58d0, #050e4f);
}

main, header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headBar {
    display: flex;
    background: linear-gradient(#9198e5, #edf0f1);
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
}


.container {
    text-align: center;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(238, 245, 241, 0.96);
}

.cell:hover {
    background-color: #5aefef;
}

#status {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    display: inline;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    color: #FFF;
    justify-content: center;
    background: rgba(107, 40, 183, 0.85);
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: rgba(138, 80, 210, 0.65);
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
}