* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*********** HEADER ***********/

.bloc-page {
    overflow-x: clip;
    /*background: linear-gradient(#9198e5, #fafafa);*/

}


/*header {*/
/*    display: flex;*/
/*    background: #9d9b9b;*/
/*}*/


.logo {
    width: 300px;
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main {
    height: 200vh;
}

.menu > ul {
    display: flex;

}

.menu > ul > li {
    margin: 20px;
    font-weight: bold;
}

.menu > ul > li:hover {
    /*color: #073ca6;*/
    color: rgb(4, 189, 32);
}


/*.logo {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background-color: #000;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
